# Ignore all
/*
!.gitignore
!README.md

# Global WP files
wp-config.php

# WP theme files
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/index.php

# IDE + System
.idea/
.DS_Store

# Project files
wp-content/themes/starterTheme/node_modules/
wp-content/themes/starterTheme/assets/
wp-content/themes/starterTheme/debug.log